.idea
.env
node_modules
projects/scripts/assets/chunky/
projects/scripts/_notes/0 - TODO
projects/scripts/backup.link
TODO.md
projects/scripts/auto-stickies/*
projects/scripts/assets/.DS_Store
projects/scripts/assets/chunky/.DS_Store
local/

projects/scripts/package-lock.json
projects/to_delete